.planet-card {
    width: 160px;
    text-align: center;
    color: white;
    font-size: x-large;
    opacity: 0.7;
}

img {
    max-width: 100%;
}

.planet-card:hover {
    transform: scale(1.3);
    opacity: 1;
}
